<footer class="footer">
    <div class="container">
        <nav class="footer__nav">
            <div class="footer__columns">
                <!--Інформаційний центр -->
                <ul class="footer__nav-list">
                    <li class="footer__nav-list-title">Інформаційний центр</li>
                    <li><a href="#about">Про нас</a></li>
                    <li><a href="#reviews">Відгуки</a></li>
                    <li><a href="#partners">Партнерам</a></li>
                </ul>
                <!--Продукти-->
                <ul class="footer__nav-list">
                    <li class="footer__nav-list-title">Продукти</li>
                    <li><a href="#">Страховка для Шенгену</a></li>
                    <li><a href="#">Страхування в Україні</a></li>
                    <li><a href="#">Гірськолижна страховка</a></li>
                    <li><a href="#">Річна Страховка</a></li>
                </ul>
                <!--Документи -->
                <ul class="footer__nav-list">
                    <li class="footer__nav-list-title">Документи</li>
                    <li><a href="#">Користувальницька угода</a></li>
                    <li><a href="#">Обробка даних</a></li>
                    <li><a href="#">Політика інформаційної безпеки</a></li>
                </ul>
                <!--Зв’язатися з нами -->
                <ul class="footer__nav-list">
                    <li class="footer__nav-list-title">Зв’язатися з нами</li>
                    <li class="social-links">
                        <a href="https://telegram.org" target="_blank"><img src="/assets/images/telegram.png" alt="Telegram"></a>
                        <a href="https://whatsapp.com" target="_blank"><img src="/assets/images/whatsapp.png" alt="WhatsApp"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</footer>
